:root {
    --base-font-size: 16px;
}

html {
    font-size: var(--base-font-size);
    font-family: sans-serif;
    line-height: 1.25;
}

h1 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight: normal;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin-bottom: 4px;
}

.abstract {
    margin-top: 0;
    margin-bottom: 20px;
}

.animal-box {
    float: left;
    border: 1px solid black;
    height: 13px;
    width: 13px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.animal-box.fish {
    background-color: #00EE00;
}

.animal-box.shark {
    background-color: #0000FF;
}

#legend {
    clear: both;
    padding-top: 20px;
}

.legend-label {
    float: left;
}

#main-canvas {
    border: 1px solid black;
    float: left;
}

.mobile {
    display: none;
}

.page-box {
    width: 900px;
}

.param {
    width: 60px;
    margin-left: 6px;
}

#rules {
    margin-top: 20px;
    clear: both;
}

.simulation-box {
    float: left;
}

.simulation-section {
    float: left;
    margin-bottom: 20px;
}

#tools {
    float:left;
    margin-left: 20px;
}

/* ------------------------------------------- Mobile ------------------------------------------- */

@media (max-width: 920px) {
    .tool-row {
        margin-bottom: 10px;
    }

    button {
        width: 90%;
        margin-bottom: 20px;
        padding: 12px;
    }

    hr.mobile {
        display: block;
        clear: both;
    }

    .page-box {
        width: 100%;
    }

    .param {
        width: 150px;
        margin-left: 6px;
        font-size: 0.9rem;
    }

    .simulation-box {
        margin-bottom: 40px;
    }

    .simulation-section {
        float: none;
    }

    #tools {
        margin-left: 0;
        float: none;
    }

    #tools .buttons {
        text-align: center;
    }

    .value-units {
        display: block;
        margin-left: 10px;
    }
}