.abstract {
    margin-top: 0;
    margin-bottom: 20px;
}

.animal-box {
    float: left;
    border: 1px solid black;
    height: 13px;
    width: 13px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.animal-box.fish {
    background-color: #00EE00;
}

.animal-box.shark {
    background-color: #0000FF;
}

body {
    font-size: 13pt;
    font-family: sans-serif;
    line-height: 1.25;
}

button {
    font-size: 11pt;
    margin-bottom: 4px;
}

h1 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight: normal;
    margin-bottom: 5px;
    font-family: serif;
}

h3 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight: normal;
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

#legend {
    clear: both;
    padding-top: 20px;
}

.legend-label {
    float: left;
}

#main-canvas {
    border: 1px solid black;
    float: left;
}

.page-box {
    width: 900px;
}

.param {
    width: 60px;
    margin-left: 6px;
    font-size: 11pt;
}

#rules {
    margin-top: 20px;
}

#tools {
    float:left;
    margin-left: 20px;
}
